<div class="artboard">
    <div class="card">
      <div class="card__side card__side--back">
        <div class="card__cover">
          <h4 class="card__heading">
            <span class="card__heading-span">Skill Set</span>
          </h4>
        </div>
        <div class="card__details">
          <ul>
            <li>Versatile Programming Language</li>
            <li>Platform Independence</li>
            <li>Strong Ecosystem</li>
            <li>Object-Oriented</li>
            <li>Security</li>
            <li>Scalability</li>
            <li>Community Support</li>
          </ul>
        </div>
      </div>
      <div class="card__side card__side--front">
        <div class="card__theme" style="background-image: url('./assets/images/java1.png');">
          <div class="card__theme-box">
            <br>
            <br>
            <p class="card__title">JAVA</p>
            <p class="card__subject">Know More</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  