<div class="artboard" style="background-color: bisque;">
    <div class="card">
      <div class="card__side card__side--back">
        <div class="card__cover">
          <h4 class="card__heading">
            <span class="card__heading-span">Skill Set</span>
          </h4>
        </div>
        <div class="card__details">
            <ul>
                <li>Full Stack Development</li>
                <li>MongoDB</li>
                <li>Express JS</li>
                <li>React</li>
                <li>Node JS</li>
                <li>Single Page Applications (SPAs)</li>
                <li>Strong Ecosystem</li>
              </ul>
        </div>
      </div>
      <div class="card__side card__side--front">
        <div class="card__theme" style="background-image: url('./assets/images/mern1.jpg');">
          <div class="card__theme-box">
            <p class="card__title">MERN Stack</p>
            <p class="card__subject">Know More</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  