<div class="gallery">
  <div class="gallery-item">
    <div class="hovereffect">
      <img class="img-responsive" src="./assets/images/hpic1.jpg" alt="">
      <div class="overlay">
        <h2>Technologies</h2>
        <a class="info" href="#">Learn more</a>
      </div>
    </div>
  </div>
  <div class="gallery-item">
    <div class="hovereffect">
      <img class="img-responsive" src="./assets/images/hpic2.jpg" alt="">
      <div class="overlay">
        <h2>Technologies</h2>
        <a class="info" href="#">Learn more</a>
      </div>
    </div>
  </div>

  <div class="gallery-item">
    <div class="hovereffect">
      <img class="img-responsive" src="./assets/images/hpic3.jpg" alt="">
      <div class="overlay">
        <h2>Technologies</h2>
        <a class="info" href="#">Learn more</a>
      </div>
    </div>
  </div>

  <div class="gallery-item">
    <div class="hovereffect">
      <img class="img-responsive" src="./assets/images/c1.jpg" alt="">
      <div class="overlay">
        <h2>Technologies</h2>
        <a class="info" href="#">Learn more</a>
      </div>
    </div>
  </div>
  <div class="gallery-item">
    <div class="hovereffect">
      <img class="img-responsive" src="./assets/images/c2.jpg" alt="">
      <div class="overlay">
        <h2>Technologies</h2>
        <a class="info" href="#">Learn more</a>
      </div>
    </div>
  </div>
  <div class="gallery-item">
    <div class="hovereffect">
      <img class="img-responsive" src="./assets/images/c3.jpg" alt="">
      <div class="overlay">
        <h2>Technologies</h2>
        <a class="info" href="#">Learn more</a>
      </div>
    </div>
  </div>
  <!-- Repeat for the rest of your images -->
</div>
